<form id="add-product">
    <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Product Name">
    </div>
    <div class="form-group">
        <label for="product-type">Product Type</label>
        <input type="text" class="form-control" name="type" placeholder="Enter Product Type">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="length">Length</label>
                <input type="text" class="form-control" name="length" placeholder="Enter Length">
            </div>
            <div class="col">
                <label for="width">Width</label>
                <input type="text" class="form-control" name="width" placeholder="Enter Width">
            </div>
            <div class="col">
                <label for="height">Height</label>
                <input type="text" class="form-control" name="height" placeholder="Enter Height">
            </div>
            <div class="col">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" name="weight" placeholder="Enter Weight">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>