<%= render 'navbar' %>
<div class="jumbotron ">
    <h1 class="display-4">Welcome to Ship Sticks!</h1>
    <p class="lead">At Ship Sticks, we make getting your golf clubs to and from your destination easier than it’s ever been – allowing you to enjoy a hassle-free travel experience to anywhere in the world.</p>
    <hr class="my-4">
    <p>Click the below to find the packaging that best fits your needs.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Calculator</a>
    </p>
</div>
<div style="margin-top: -30px;" class="card bg-dark text-white">
  <img class="card-img" src ='https://cdn.shipsticks.com/assets/v4/about/aboutUsHeaderImage-c434e360ec0110aec0d83fdc0613df0e.png' alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Easiest way to ship your golf clubs & luggage anywhere in the world!</h5>
    <p class="card-text"> Instead of lugging your clubs through the airport and risking lost or damaged items, ship your clubs with Ship Sticks.</p>
  </div>
</div>