<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <img width="200" src="https://cdn.shipsticks.com/assets/v4/text-logo-dark-bg-b4b2c1a8fd374fbe15ff482dc3f04c30.png">
  </a>
</nav>
